{% load static %}
<style>
  /* footeer start  */
  a i {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    a i {
      font-size: 12px;
    }
    footer{
      text-align: center;
    }
  }

  /* footer end  */
</style>
<footer class="text-white pt-5 pb-4" style="background-color: #4b87f8;">
  <div class="p-4 text-md-left">
    <div class="row text-md-left">

      <!-- About Us -->
      <div class="col-md-2 col-lg-3 col-xl-3 mx-auto mt-3 text-center ">
        <img src="{% static 'images/footerlogo.png' %}" style="height:220px;margin-top:-10px;" class="logo  img-fluid" alt="Logo" >

      </div>

      <div class="col-md-2 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Netwet Study</h5>
        <p>
          Netwet Study is your go-to platform for educational <br> resources, tutorials, and online learning tools to <br> boost
          your knowledge.
        </p>


      </div>

      <!-- Quick Links -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Quick Links</h5>
        <p><a href="/" class="text-white text-decoration-none">Home</a></p>
        <p><a href="/courses/" class="text-white text-decoration-none">Courses</a></p>
        <p><a href="/aboutus/" class="text-white text-decoration-none">About Us</a></p>
        <p><a href="/contact/" class="text-white text-decoration-none">Contact</a></p>
        <p><a href="/team/" class="text-white text-decoration-none">Teams</a></p>
      </div>

      <!-- Resources -->
      <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Resources</h5>
        <p><a href="#" class="text-white text-decoration-none">Blog</a></p>
        <p><a href="#" class="text-white text-decoration-none">FAQs</a></p>
        <p><a href="/privacypolicy/" class="text-white text-decoration-none">Privacy Policy</a></p>
        <p><a href="/terms/" class="text-white text-decoration-none">Terms-Conditions</a></p>
      </div>

      <!-- Contact -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Contact</h5>
        <p><i class="fas fa-home me-3"></i>Netwet Study, Araria Bihar, India</p>
        <p><i class="fas fa-envelope me-3"></i> info@netwetstudy.com</p>
        <p><i class="fas fa-phone me-3"></i> +918002226193</p>
      </div>
    </div>

    <hr class="mb-4">

    <!-- Social Media -->
    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p>© 2025 Netwet Study. All rights reserved.</p>
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="text-center text-md-end">
          <a href="https://www.facebook.com/share/14rJv8vzjH/" target="_blank" class="btn btn-outline-light btn-floating m-1" aria-label="Facebook"><i
              class="fab fa-facebook-f"></i></a>
          <a href="https://x.com/NetwetStudy?t=1XJX93OnI" target="_blank" class="btn btn-outline-light btn-floating m-1" aria-label="Twitter"><i
              class="fa-brands fa-x-twitter"></i></a>
          <a href="https://www.instagram.com/netwetstudy?igsh=MXJtZ3NrNmVuczEyZw==" target="_blank" class="btn btn-outline-light btn-floating m-1" aria-label="Instagram"><i
              class="fab fa-instagram"></i></a>
          <a href="https://youtube.com/@netwetstudy?si=KRskgn9Szy5Ga-vJ" target="_blank" class="btn btn-outline-light btn-floating m-1" aria-label="YouTube"><i
              class="fab fa-youtube"></i></a>
          <a href="https://www.linkedin.com/in/netwet-study-b00883363?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="btn btn-outline-light btn-floating m-1" aria-label="LinkedIn"><i
              class="fab fa-linkedin-in"></i></a>
          <a href="#" target="_blank" class="btn btn-outline-light btn-floating m-1" aria-label="GitHub"><i
              class="fa-brands fa-whatsapp"></i></a>
              <a href="https://www.threads.com/@netwetstudy" target="_blank" class="btn btn-outline-light btn-floating m-1" aria-label="GitHub"><i
                class="fa-brands fa-threads"></i></a>
             
        </div>
      </div>
    </div>
  </div>
</footer>